################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Microsservico.Bancario/.vs/
/Microsservico.Bancario/Bancario.API/obj/
/Microsservico.Bancario/Bancario.Application/obj/
/Microsservico.Bancario/Bancario.Domain/obj/
/Microsservico.Bancario/Bancario.Infrastructure/obj/
/Microsservico.Bancario/Bancario.Application/bin/
/Microsservico.Bancario/Bancario.Domain/bin/
/Microsservico.Bancario/Bancario.Infrastructure/bin/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
/Microsservico.Bancario/Bancario.API/bin/Debug/net8.0
