<div class="container">
    <h2>Área do Gerente</h2>
    <div class="btn-group">
        <button pButton type="button" label="Buscar Clientes e Saldos" class="p-button-raised" (click)="buscarClientesSaldos()"></button>
        <button pButton type="button" label="Movimentar Conta" class="p-button-raised" (click)="movimentarConta()"></button>
        <button pButton type="button" label="Buscar Extrato Cliente" class="p-button-raised" (click)="buscarExtratoCliente()"></button>
        <button pButton type="button" label="Criar Conta Bancária" class="p-button-raised" (click)="criarConta()"></button>
        <button pButton type="button" label="Excluir Conta Bancária" class="p-button-raised" (click)="excluirConta()"></button>
    </div>
</div>
